* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    backgrounf-color: #fff;
    color: #151313;
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: 10px;
    text-rendering: optimizeLegibility;
}
/*------REUSABLE SEGMENTS-------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}
.section {
    padding: 2rem;
}
.series { 
    padding: 1rem;
    border-top: 1px solid #c8c9c3; 
    border-bottom: 1px solid #c8c9c3;
}

/*------text-------------*/
.series__title {
    font-size: 2rem;
    letter-spacing: 2px;
    padding-bottom: 1.5rem;
}
.series__subheading {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    padding-bottom: 1rem;
}
.series__textblock {
    max-width: 60rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    display: block;
    padding: 1rem 1rem 2rem 1rem;
}
.series__textblock__segment {
    padding: 1rem;
    text-align: justify;
}
.series__textblock__gap {  
    border-top: 1px solid #c8c9c3; 
    padding-bottom: 2rem;
}


/*------HEADER-------------*/
.header { 
    padding: .5rem;
}
.header__logo {
    font-size: 2.5rem;
    letter-spacing: 3px;
    float: left;
}
.header__logo a:link,
.header__logo a:visited {
    text-decoration: none;
    color: #151313;
    transition: color 0.3s;
}
.header__logo a:hover,
.header__logo a:active,
.header__logo a:focus {
    color: rgba(149, 147, 134, 0.64);
} 

/*------HEADER DROPDOWN NAV-------------*/
.header__nav__icon { display: none; }
.header__nav { 
    display: inline-block;
    float: right;
}
.header__nav__item {
    display: inline-block;
    padding: .5rem 1rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.header__nav__item a:link,
.header__nav__item a:visited {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}
.header__nav__item a:hover,
.header__nav__item a:active,
.header__nav__item a:focus {
    color: rgba(149, 147, 134, 0.64);
}

.dropdown__nav { display: none; }
.dropdown__nav__icon { padding: 0rem 1rem; }
.dropdown__nav__item {
    display: block;
    padding: .5rem 2rem;
    letter-spacing: 1.5px;
    text-transform: none;
    font-size: 1.5rem;
}
.dropdown__nav__item a:link,
.dropdown__nav__item a:visited {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}
.dropdown__nav__item a:hover,
.dropdown__nav__item a:active,
.dropdown__nav__item a:focus {
    color: rgba(149, 147, 134, 0.64);
}







/*------FOOTER-------------*/
.footer { padding: 1rem; }


/*------FRONT PAGE-------------*/
.frontpage img {
    width: 100%;
    height: auto;
}


/*------WORKS PAGE-------------*/
.item {
    padding-bottom: 2rem;
}
.item__image {
     overflow: hidden;
}
.item img {
    width: 100%;
    height: auto;
    cursor: zoom-in;
    transition: transform 1.5s;
}
.item img:focus,
.item img:active {
    transform: scale(2);
}
.item__caption {
    padding: .5rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

/*------resume page-------------*/
.resume__year {
    font-weight: 700;
    display: block;
    padding-top: 1rem;
}
.resume__entry {
    display: block;
    padding: .5rem;
}
.resume__entry em {
    font-weight: 700;
    letter-spacing: 1.5px;
    display: inline-block; 
    padding: 0 .7rem; 
}
.series__textblock--resume { max-width: none; }


/*------contact page-------------*/
.contact__link {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contact__link a:link,
.contact__link a:visited {
    text-decoration: none;
    color: #151313;
    transition: color 0.3s;
}
.contact__link a:hover,
.contact__link a:active,
.contact__link a:focus {
    color: rgba(149, 147, 134, 0.64);
}
.contact__email { font-size: 2rem; }


/*------slideshow view-------------*/
.thumbnail img {
    height: auto;
    width: 80%;
    padding: 1rem;
}
#blueimp-gallery h3 {
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-rendering: optimizeLegibility;
    letter-spacing: 1.5px;
}
